.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

* {
  box-sizing: border-box;
}

nav li {
  list-style: none; 
  margin: 0 15px 0 60px;
}

/*article {
  color:  #D6CFCF;
}*/

#ChampLogo{
  padding: 25px;
}

.LEL {
  float:  right;
}

p {
  color:  #fff;
  padding:  10px;
}

h1, h2, h3, h4, h5{
  color:  #fff;
  padding:  10px;
}

#h1P{
  color: #000;
}

footer {
  padding: 10px;
  color: #fff;
  text-align: left;
}

hr{
  color: #002DFF;
  size: 8px;
}

.blue{
  color: #002DFF;
  size: 8px;
}


.b-top{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #BE74FA;
}

.menuTyping{
  color: #000;
  text-align: center;
  padding: 50px;
}

.new {
  color: #000;
  text-align: center;
  padding: 10px;
} 

.title{
  color: #000;
  padding: 10px;
}



